<h1 align="center">Import sales records</h1>

<div class="row center">
	<div class="col-xs-8 col-xs-offset-2">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" readonly>
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Browse<input type="file" style="display: none;" multiple>
            </span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div>
  <div class="row">
    <tr>
      <th>Purchaser Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Purchase Count</th>
      <th>Merchant Address</th>
      <th>Merchant Name</th>
    </tr>
  </div>
  <%= @sales.each do |sale| %>
    <tr>
      <td>sale.purchaser_name</td>
      <td>sale.item_description</td>
      <td>sale.item_price</td>
      <td>sale.purchase_count</td>
      <td>sale.merchant_address</td>
      <td>sale.merchant_name</td>
    </tr>
  <% end %>
</div>

